.first{
    text-align: center;
    color: #1C1C1C;
}
.body{
background-color:beige;

}
.links{
  padding: 5px 5px;
    color: #ffffff;
  border-radius: 6px;
  background-color: #B22222;
  transition: background-color 0.3s;

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.telaFav {
  display: none; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: #fff;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.3);
  overflow-y: auto;
  padding: 20px;
  z-index: 1000;
}
.telaFav{
  text-align: center;
  color: #B22222;
  margin-bottom: 20px;
}
.telaPromo {
  display: none; /* começa escondido */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%; /* ocupa grande parte da tela */
  background: #fff;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.3);
  overflow-y: auto;
  padding: 20px;
  z-index: 1000;
}
.telaporc {
  display: none; /* começa escondido */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%; /* ocupa grande parte da tela */
  background: #fff;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.3);
  overflow-y: auto;
  padding: 20px;
  z-index: 1000;
}


.card {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  
 
}
.info{
  color: #1C1C1C;
}
.info > h3{
  color: #B22222;
}

.card img {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.card .info h3 {
  margin: 0;
  
}

.card .info p {
  margin: 5px 0;
  font-size: 14px;
}

#fecharFav {
  display: flex;
  margin: 20px auto 0;
  padding: 10px 20px;
  background: #B22222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bntFavoritos{
  margin-top: 20px;
    border: none;
     display: block;
  padding: 10px 20px;
  background: #B22222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} #bntPromo{
  margin-top: 20px;
    border: none;
     display: block;
  padding: 10px 20px;
  background: #B22222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bntPorções{
  margin-top: 20px;
border: none;
 display: block;
  padding: 10px 20px;
  background: #B22222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#fecharPro {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background: #B22222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#fecharPorc {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background: #B22222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.acoes{
    display: flex;
    gap: 20px;
    justify-content: left;
    
}
.acoes button{
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
nav ul {
  list-style: none; /* tira as bolinhas da lista */
  padding: 0;
  margin: 0;
  display: flex; /* deixa os itens lado a lado */
  justify-content: center; /* centraliza o grupo */
}

nav ul li {
  margin: 0 15px; /* espaço entre os links */
}

nav a {
  text-decoration: none; /* tira o sublinhado */
  color: white; /* cor do texto */
  font-weight: bold;
}
.logo {
 height: 100px;
  display: flex;
justify-content: center;
}
.letra{
  text-align: center;
  margin: 20px auto 0;
  padding: 5px 10px;
  background: #B22222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;

}
.imagens{
  height: 150px;
  width: 200px;
  border-radius: 10px;
  transition: transform 1s ease;
  display: block;
}
.imagens:hover{
  transform: translateY(-10px);
}
.bntC{
  border: none;
  color: inherit;
  text-decoration: none;
  color: #B22222;
  display: flex;
  
}
.banner_principal {
    height: 150px; /* ajuste a altura que quiser */
    overflow: hidden;
    border-radius: 10px;
}

.banner_img {
    object-fit: fill;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* efeito de fade */
    
}

.menutopo {
  display: flex;
  justify-content: space-between; /* distribui esquerda, centro e direita */
  margin: 20px;
  gap: 10px;
}


.menubnt {
  padding: 10px 30px;
  background: #B22222;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
width: 50%;
  transition: background 0.3s ease;
  
}
.menubnt:hover {
  background: #FFB800; /* amarelo mostarda no hover */
  color: #1C1C1C;
}
.imagens2:hover {
  transform: translateY(-10px);
}
.imagens2{
  height: 150px;
  width: 200px;
  border-radius: 10px;
  transition: transform 1s ease;
  margin-top: 10px;
  text-align: center;
}

.imagensCar{
 margin: 10px;
    height: 150px;
  width: 200px;
  border-radius: 10px;
  transition: transform 1s ease;

}

.imagensCar:hover{
  transform: translateY(-7px);
}
.bntCar{
    border: none;
  text-decoration: none;
  color: #B22222;
  display: flex;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 4px;
  
}

.menuEsquerda{
flex: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}

/* Hover dos botões principais */
#bntFavoritos:hover,
#bntPromo:hover,
#bntPorções:hover,
#bntSob:hover {
  background: #FFB800; /* amarelo mostarda */
  color: #1C1C1C;      /* texto preto */
  transition: 0.3s;    /* suaviza a troca */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Hover dos botões de fechar */
#fecharFav:hover,
#fecharPro:hover,
#fecharPorc:hover,
#fecharSob:hover {
  background: #FFB800;
  color: #1C1C1C;
  transition: 0.3s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#fecharSob {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background: #B22222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.telasob {
  display: none; /* começa escondido */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%; /* ocupa grande parte da tela */
  background: #fff;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.3);
  overflow-y: auto;
  padding: 20px;
  z-index: 1000;
}
#bntSob{
  margin-top: 20px;
    border: none;
     display: block;
  padding: 10px 20px;
  background: #B22222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.links:hover{
  color: #000000;    
  transition: 0.3s; 
  background-color: #FFB800; 
}  

.bntC:hover{
 color: #372727;    
  transition: 0.3s;    /* suaviza a troca */
}
.bntCar:hover{
  color: #372727;     
  transition: 0.3s;    /* suaviza a troca */
}

.item{
  display: flex;
  flex-direction: column;
    padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.559);
  transition: background-color 0.1s;
align-items: center;
  
}
.item img {
    height: 150px;
  width: 200px;
  border-radius: 10px;
  transition: transform 1s ease;
    
}
.item img:hover{
  transform: translateY(-2px);
}

.item:hover {
  background-color: #bab7b7; 
}

.continuacao img{
  border-radius: 50px;
display: flex;
gap: 20px;
}
.continuacao p{
  display: flex;

}
